@model TiendaOnlineMvc.Areas.Admin.Models.ProductViewModel

@{
    ViewBag.Title = "Nuevo Producto";
}
<div class="container">
    <div class="row">
        <section id="mainContent" class="col-md-8">
            <h2>Nuevo Producto</h2>
            <br /><br />
            @* enctype = "multipart/form-data"  se debe agregar a los Form para enviar archivos al server*@
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre Del Producto" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero entero" } })
                            @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripcion Del Producto" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Actualizacion, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Actualizacion, new { htmlAttributes = new { @class = "form-control date", @placeholder = "0000-00-00" } })
                            @Html.ValidationMessageFor(model => model.Actualizacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.CategoriaId, Model.Categorias, "Seleccione una Categoria", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Imagen, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                            <p>* Seleccione una imagen cuadrada con fondo blanco</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Dar de alta" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Volver", "Index")
            </div>
        </section>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}